<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated StateMachines -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="product00043.mm.StateMachinePL.presentation.StateMachinePLModelWizardID"
            name="%_UI_StateMachinePLModelWizard_label"
            class="product00043.mm.StateMachinePL.presentation.StateMachinePLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StateMachinePLModelFile.gif">
         <description>%_UI_StateMachinePLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated StateMachines -->
      <editor
            id="product00043.mm.StateMachinePL.presentation.StateMachinePLEditorID"
            name="%_UI_StateMachinePLEditor_label"
            icon="icons/full/obj16/StateMachinePLModelFile.gif"
            extensions="statemachinepl"
            class="product00043.mm.StateMachinePL.presentation.StateMachinePLEditor"
            contributorClass="product00043.mm.StateMachinePL.presentation.StateMachinePLActionBarContributor">
      </editor>
   </extension>

</plugin>
