<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated StateMachines -->
      <package
            uri="http://statemachines/product00043"
            class="product00043.mm.StateMachinePL.StateMachinePLPackage"
            genModel="model/StateMachines.genModel"/>
   </extension>

</plugin>
