<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Networking -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="product00005.mm.NetworkingPL.presentation.NetworkingPLModelWizardID"
            name="%_UI_NetworkingPLModelWizard_label"
            class="product00005.mm.NetworkingPL.presentation.NetworkingPLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NetworkingPLModelFile.gif">
         <description>%_UI_NetworkingPLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Networking -->
      <editor
            id="product00005.mm.NetworkingPL.presentation.NetworkingPLEditorID"
            name="%_UI_NetworkingPLEditor_label"
            icon="icons/full/obj16/NetworkingPLModelFile.gif"
            extensions="networkingpl"
            class="product00005.mm.NetworkingPL.presentation.NetworkingPLEditor"
            contributorClass="product00005.mm.NetworkingPL.presentation.NetworkingPLActionBarContributor">
      </editor>
   </extension>

</plugin>
